<dl>
<label for='name'>Name:</label><input id='name' name='bookmark[name]' type='text' autofocus value="<%= @bookmark.name %>">
<label for='url'>URL:</label><input id='url' type="text" name='bookmark[url]'autofocus value="<%= @bookmark.url %>">
<label for='description'>Description:</label><input id='description' type="text" name='bookmark[description]'autofocus value="<%= @bookmark.description %>">
<label for='genre'>Genre:</label><input id='genre' type="text" name='bookmark[genre]'autofocus value="<%= @bookmark.genre %>">
</dl>